<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</head>

<body class="bg-default">
    <div class="container">
        <div class="col-md-12 text-center">
            <h1>Welcome Back Users, Please Login : </h1>
            <!-- <h3 class="text-red"> {{ msg }} </h3> -->
            <h5 id="error"></h5>
            <hr>
            <form action="/login_action" method="post">
                <p> <input type="text" name="username" id="" placeholder="Username" class="form-control"> </p>
                <p> <input type="password" name="password" id="" placeholder="Password" class="form-control"> </p>
                <p> <input type="submit" value="Login" class="btn btn-primary w-100"> </p>
            </form>
        </div>
    </div>
</body>

<script src="{{url_for('static', filename='script.js')}}"></script>

</html>